

.bg-nav-color{
 background-color:rgb(228, 218, 205);

}

.txt-nav-color{
color: rgb(0, 0, 0);
/* font-family: 'Nunito', sans-serif; */
font-size: 20PX;
}
body{
    margin: 0 !important;
    width: 100vw;
    padding: 0!important;
}
footer .card{
    background-color: rgb(230, 218, 202)!important;
    border-radius: 0;
}

footer .card-body{
/* height: 20px;   */
/* text-align: center; */
color: rgb(9, 9, 9);
/* padding: 80px 80px; */
}

footer .card-header{
    background-color: rgb(227, 201, 166)!important
}

footer .card-header a{
    text-decoration: none;
    color:black;
    border-radius: 0;
    margin: 0 5px;
    font-size: 20px;
}
footer .card-header a:hover{
    color:rgba(187, 84, 53, 0.809)
}

footer .card-body a{
    color: rgba(3, 3, 3, 0.73);
    text-decoration: none;
}
main .row{ 
    padding: 0 100px!important;

}
main h2 {
    margin: 30px 100px 60px 100px;
}

main h10 p {
font-size: 30px;
color: rgb(47, 46, 46);
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
}

.text-body-secondary{
    color: rgb(47, 46, 46);
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;

}
main h11 p {
    font-size: 25px;
    color: rgb(47, 46, 46);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    }
    
/* main h12 img {
    margin-top: 100px;
    margin-bottom: 30px;
    /* width: 500px;
    height: 500px; */

    
     main h12 {
        margin-bottom: 50px;
     }

     main .card-bodyeventos{

        text-align: center;
        padding-left: 50px;
        padding-right: 50px; 
        padding-bottom: 50px;
        padding-top: 50px;  
        margin: 50px 50px 50px 50px;
        border-radius: none !important;
        
     }
     main .cardeventtos{
     border-radius: none;
     text-align: center;
     padding-left: 30px;
     padding-right: 30px; 
     padding-bottom: 30px;
     padding-top: 30px;  
     margin: 30px 30px 30px 30px;}

     main .cardeventosala {
        height: 450px;
        width: 500px;
     }
     main .cardeventosala2{

        border-radius: none!important;
        text-align: center;
        height: 450px;
        width: 450px;
        text-justify: auto;
        text-align: center;
        margin-left: 50px;
        margin-top: 0px;
   

     }

 header .img{
    background-color:rgba(0, 0, 0, 0.596)!important ;
    height: 550px;
    color:rgb(255, 255, 255)!important ;
 }
 main .cardreservas{
border: radius 1px!important;
    padding-left: 30px;
    padding-right: 30px; 
    padding-bottom: 30px;
    padding-top: 30px;  
    margin: 30px 30px 30px 30px;
}


 